<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <% if cart.length <= 0 %>
    <div class="well">
      <h4>Your cart is empty! &nbsp; <%= link_to 'Return to Home', root_url %></h4>
    </div>
  <% else %>
    <%= render 'cart', cart: cart %>
  <% end %>

</section>
